
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    
    <title>Login Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
  	<div class="nav-container">
  		<div class="grid-container">
  			<div class="nav">
  				<div class="nav-logo">
  					<a href=""><span class="logo-tripnow"></span></a>
  				</div>
  				<div class="nav-location">
  					<button class="button dropdown hollow button-s1" type="button">TP. HCM</button>
  				</div>
  				<div class="nav-location">
  					<button class="button dropdown hollow button-s1" type="button">Tham quan</button>
  				</div>
  				<div class="nav-search">
  					<div class="search">
  						<form class="ng-pristine ng-valid">
			                <input type="text" id="pkeywords" class="form-input" placeholder="Địa điểm, món ăn, loại hình...">
			                <span class="input-group-btn">
			                  <button type="" class="btn ">
			                    <i class="fa fa-search"></i>
			                  </button>
			                </span>
            			</form>
  					</div>
  				</div>
	  			<div class="nav-user">
					<div class="nav-user-btn">
					    <div class="nav-user-name">Đăng nhập</div>
					</div>
				</div>
				<div class="nav-functions">
				    <div class="button-s2" >
				        <span class="input-group-btn">
			                <button type="" class="btn btnradius">
			                    <i class="fa fa-plus"></i>
			                </button>
			            </span>
				    </div>
				</div>
				<div class="nav-language">
			        <button class="button">
			            <img src="images/vn.png" width="20">
			        </button>
    			</div>
  			</div>
  		</div>
  	</div>
    <section id="slider" class="clearfix">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="images/foody-18-636352829980339902.png" alt="">
          </div>
          <div class="item">
            <img src="images/foody-6-636352828379621090.png" alt="">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
    </section>
    <section class="feature section top">
    	<div class="container">
    		<div class="row">
    			<div class="tripnow-quote text-center">
    				<a href="/">GoNow.vn</a> - Điểm khởi đầu của mọi hành trình
    			</div>
    			<h2 class="section-title text-center">
            		Địa điểm nổi bật
        		</h2>
    		</div>
    		<div class="row">
        		<div class="col-sm-3">
	            	<div class="feature-item embed embed-foody">
	                    <a href="/ho-chi-minh/gioi-thieu" class="link-absolute"></a>
	                	<div class="embed-item">
	                        <img src="images/city/hochiminh.jpg" alt="">
	                    </div>
	                    <div class="feature-info">
	                        <div class="text-center">
	                            <div class="feature-name">TP. HCM</div>
	                            <div class="feature-meta">59442 địa điểm - 29 Tours </div>
	                        </div>
	                    </div>
	                </div>        
        		</div>
        		<div class="col-sm-3">
	            	<div class="feature-item embed embed-foody">
	                    <a href="/ha-noi/gioi-thieu" class="link-absolute"></a>
	                	<div class="embed-item">
	                        <img src="images/city/hanoi.jpg" alt="">
	                    </div>
	                    <div class="feature-info">
	                        <div class="text-center">
	                            <div class="feature-name">Hà Nội</div>
	                            <div class="feature-meta">49694 địa điểm - 19 Tours </div>
	                        </div>
	                    </div>
	                </div>        
        		</div>
        		<div class="col-sm-3">
	            	<div class="feature-item embed embed-foody">
	                    <a href="/hue/gioi-thieu" class="link-absolute"></a>
	                	<div class="embed-item">
	                        <img src="images/city/hue.jpg" alt="">
	                    </div>
	                    <div class="feature-info">
	                        <div class="text-center">
	                            <div class="feature-name">Huế</div>
	                            <div class="feature-meta">14694 địa điểm - 11 Tours </div>
	                        </div>
	                    </div>
	                </div>        
        		</div>
        		<div class="col-sm-3">
	            	<div class="feature-item embed embed-foody">
	                    <a href="/danang/gioi-thieu" class="link-absolute"></a>
	                	<div class="embed-item">
	                        <img src="images/city/danang.jpg" alt="">
	                    </div>
	                    <div class="feature-info">
	                        <div class="text-center">
	                            <div class="feature-name">Đà Nẵng</div>
	                            <div class="feature-meta">6318 địa điểm - 8 Tours </div>
	                        </div>
	                    </div>
	                </div>        
        		</div>
        		<div class="col-sm-3">
	            	<div class="feature-item embed embed-foody">
	                    <a href="/binhthuan/gioi-thieu" class="link-absolute"></a>
	                	<div class="embed-item">
	                        <img src="images/city/binhthuan.jpg" alt="">
	                    </div>
	                    <div class="feature-info">
	                        <div class="text-center">
	                            <div class="feature-name">Bình Thuận</div>
	                            <div class="feature-meta">6145 địa điểm - 10 Tours </div>
	                        </div>
	                    </div>
	                </div>        
        		</div>
        		<div class="col-sm-3">
	            	<div class="feature-item embed embed-foody">
	                    <a href="/cantho/gioi-thieu" class="link-absolute"></a>
	                	<div class="embed-item">
	                        <img src="images/city/cantho.jpg" alt="">
	                    </div>
	                    <div class="feature-info">
	                        <div class="text-center">
	                            <div class="feature-name">Cần Thơ</div>
	                            <div class="feature-meta">14250 địa điểm - 15 Tours </div>
	                        </div>
	                    </div>
	                </div>        
        		</div>
        		<div class="col-sm-3">
	            	<div class="feature-item embed embed-foody">
	                    <a href="/vung-tau/gioi-thieu" class="link-absolute"></a>
	                	<div class="embed-item">
	                        <img src="images/city/vungtau.jpg" alt="">
	                    </div>
	                    <div class="feature-info">
	                        <div class="text-center">
	                            <div class="feature-name">Vũng Tàu</div>
	                            <div class="feature-meta">15201 địa điểm - 12 Tours </div>
	                        </div>
	                    </div>
	                </div>        
        		</div>
        		<div class="col-sm-3">
	            	<div class="feature-item embed embed-foody">
	                    <a href="/all/gioi-thieu" class="link-absolute"></a>
	                	<div class="embed-item">
	                        <img src="images/city/all.jpg" alt="">
	                    </div>
	                    <div class="feature-info">
	                        <div class="text-center">
	                            <div class="feature-name">Xem Tất Cả</div>
	                        </div>
	                    </div>
	                </div>        
        		</div>
    		</div>
    		<div class="feature-place">
    			<div class="row">
	    			<div class="col-md-5 cell">
				        <a class="feature-place-tag">Địa điểm hot trong tháng</a>
				        <h3 class="feature-place-name">Tháng bốn đưa nhau đi trốn 10 địa điểm hot nhất Việt Nam</h3>
				        <p>
				            Tháng 4 đến là tháng báo hiệu mùa hè, cũng là tháng tuyệt vời cho những chuyến đi. Tháng 4 này bạn đi đâu? Cùng Tripnow tham khảo danh sách những địa điểm hot nhất trong tháng 4 này nhé!
				        </p>
				        <div>
				            <a href="/bai-viet/thang-bon-dua-nhau-di-tron-10-dia-diem-hot-nhat-viet-nam-10025" class="button btnxemthem primary large warning">Xem thêm</a>
				        </div>
	    			</div>
	    			<div class="col-md-6">
	    				<div class="feature-place-video">
		                    <div class="embed embed-foody video">
		                        <iframe width="560" height="315"
		                         	src="https://www.youtube.com/embed/0Z-DnpbtKsU?rel=0&controls=0&showinfo=0">	
		                        </iframe>
		                    </div>
		                </div>
	    			</div>
	    		</div>
    		</div>
    	</div>
    </section>
    <section class="tour">
		<div class="container">
		  <h1>Tour hấp dẫn trong tuần</h1>
		  <div class="row">
		    <div class="col-md-12">
		      <div class="carousel slide multi-item-carousel" id="theCarousel">
		        <div class="carousel-inner">
		          <div class="item active">
		            <div class="col-xs-4">
		            	<div class="swiper-slide" style="width: 280px; margin-right: 20px;">
	                        <div class="tourbox">
	                            <a class="link-absolute" href="/tour-du-lich/tour-phuong-hoang-co-tran-6n5d-180"></a>

	                            <div class="tourbox-img">
	                                <img class=" lazyloaded" src="images/tour/foody-tour phuong hoang-636498082293689357.jpg">
	                                <div class="tourbox-price">
	                                    <span class="ng-binding">13.500.000</span>đ
	                                </div>
	                            </div>

	                            <div class="tourbox-info">
	                                <h3 class="tourbox-name m-b-0 ng-binding">Tour Phượng Hoàng Cổ Trấn 6N5Đ</h3>

	                                <div class="tourbox-direction m-b-5">
	                                    <span class="ng-binding">Hà Nội</span>
	                                    <span class="arrow"> →</span>
	                                    <span class="ng-binding">Hà Nội</span>
	                                </div>

	                                <a class="tourbox-author ng-binding" href="/nha-cung-cap/golden-saigon-travel-14">Golden Saigon Travel</a>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		          </div>
		          <div class="item">
		            <div class="col-xs-4">
		            	<div class="swiper-slide" style="width: 280px; margin-right: 20px;">
	                        <div class="tourbox">
	                            <a class="link-absolute" href="/tour-du-lich/tour-phuong-hoang-co-tran-6n5d-180"></a>

	                            <div class="tourbox-img">
	                                <img class=" lazyloaded" src="images/tour/foody-lao cai-636505704148385759.jpg">
	                                <div class="tourbox-price">
	                                    <span class="ng-binding">7.900.000</span>đ
	                                </div>
	                            </div>

	                            <div class="tourbox-info">
	                                <h3 class="tourbox-name m-b-0 ng-binding">Tour nghỉ dưỡng tại TUBOTEL SAPA 2N1Đ</h3>

	                                <div class="tourbox-direction m-b-5">
	                                    <span class="ng-binding">Tp.HCM</span>
	                                    <span class="arrow"> →</span>
	                                    <span class="ng-binding">Lào Cai</span>
	                                </div>

	                                <a class="tourbox-author ng-binding" href="/nha-cung-cap/golden-saigon-travel-14">VietKite Travel</a>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		          </div>
		          <div class="item">
		            <div class="col-xs-4">
		            	<div class="swiper-slide" style="width: 280px; margin-right: 20px;">
	                        <div class="tourbox">
	                            <a class="link-absolute" href="/tour-du-lich/tour-phuong-hoang-co-tran-6n5d-180"></a>

	                            <div class="tourbox-img">
	                                <img class=" lazyloaded" src="images/tour/foody-tour dai-636504887815394182.jpg">
	                                <div class="tourbox-price">
	                                    <span class="ng-binding">23.500.000</span>đ
	                                </div>
	                            </div>

	                            <div class="tourbox-info">
	                                <h3 class="tourbox-name m-b-0 ng-binding">Tour ĐÀI LOAN 5N4Đ: Đài Bắc - Cao Hùng - Đài Trung (Bay Sáng)</h3>

	                                <div class="tourbox-direction m-b-5">
	                                    <span class="ng-binding">Hà Nội</span>
	                                    <span class="arrow"> →</span>
	                                    <span class="ng-binding">Taipei City</span>
	                                </div>

	                                <a class="tourbox-author ng-binding" href="/nha-cung-cap/golden-saigon-travel-14">Triều Hảo Travel</a>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		          </div>
		          <div class="item">
		            <div class="col-xs-4">
		            	<div class="swiper-slide" style="width: 280px; margin-right: 20px;">
	                        <div class="tourbox">
	                            <a class="link-absolute" href="/tour-du-lich/tour-phuong-hoang-co-tran-6n5d-180"></a>

	                            <div class="tourbox-img">
	                                <img class=" lazyloaded" src="images/tour/foody-tour tet nb-636499833308901698.jpg">
	                                <div class="tourbox-price">
	                                    <span class="ng-binding">13.500.000</span>đ
	                                </div>
	                            </div>

	                            <div class="tourbox-info">
	                                <h3 class="tourbox-name m-b-0 ng-binding">Tour Tết Nguyên Đán 2018: NHẬT BẢN - OSAKA-KYOTO- FUJI-TOKYO (7N6Đ) MÙNG 3 TẾT</h3>

	                                <div class="tourbox-direction m-b-5">
	                                    <span class="ng-binding">Hà Nội</span>
	                                    <span class="arrow"> →</span>
	                                    <span class="ng-binding">Tokyo</span>
	                                </div>

	                                <a class="tourbox-author ng-binding" href="/nha-cung-cap/golden-saigon-travel-14">Triều Hảo Travel</a>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		          </div>
		          <div class="item">
		            <div class="col-xs-4">
		            	<div class="swiper-slide" style="width: 280px; margin-right: 20px;">
	                        <div class="tourbox">
	                            <a class="link-absolute" href="/tour-du-lich/tour-phuong-hoang-co-tran-6n5d-180"></a>

	                            <div class="tourbox-img">
	                                <img class=" lazyloaded" src="images/tour/foody-tour nhat ban-636499817020750069.jpg">
	                                <div class="tourbox-price">
	                                    <span class="ng-binding">12.500.000</span>đ
	                                </div>
	                            </div>

	                            <div class="tourbox-info">
	                                <h3 class="tourbox-name m-b-0 ng-binding">Tour Nhật Bản - Tokyo - Phú Sỹ 4N3Đ</h3>

	                                <div class="tourbox-direction m-b-5">
	                                    <span class="ng-binding">TP.HCM</span>
	                                    <span class="arrow"> →</span>
	                                    <span class="ng-binding">Tokyo</span>
	                                </div>

	                                <a class="tourbox-author ng-binding" href="/nha-cung-cap/golden-saigon-travel-14">Triều Hảo Travel</a>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		          </div>
		          <div class="item">
		            <div class="col-xs-4">
		            	<div class="swiper-slide" style="width: 280px; margin-right: 20px;">
	                        <div class="tourbox">
	                            <a class="link-absolute" href="/tour-du-lich/tour-phuong-hoang-co-tran-6n5d-180"></a>

	                            <div class="tourbox-img">
	                                <img class=" lazyloaded" src="images/tour/foody-tour bac kinh-636499802921343629.jpg">
	                                <div class="tourbox-price">
	                                    <span class="ng-binding">13.500.000</span>đ
	                                </div>
	                            </div>

	                            <div class="tourbox-info">
	                                <h3 class="tourbox-name m-b-0 ng-binding">Tour Bắc Kinh - Thượng Hải - Hàn Châu - Tô Châu 7N7Đ</h3>

	                                <div class="tourbox-direction m-b-5">
	                                    <span class="ng-binding">Hà Nội</span>
	                                    <span class="arrow"> →</span>
	                                    <span class="ng-binding">Tokyo</span>
	                                </div>

	                                <a class="tourbox-author ng-binding" href="/nha-cung-cap/golden-saigon-travel-14">Triều Hảo Travel</a>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		          </div>
		          <div class="item">
		            <div class="col-xs-4">
		            	<div class="swiper-slide" style="width: 280px; margin-right: 20px;">
	                        <div class="tourbox">
	                            <a class="link-absolute" href="/tour-du-lich/tour-phuong-hoang-co-tran-6n5d-180"></a>

	                            <div class="tourbox-img">
	                                <img class=" lazyloaded" src="images/tour/foody-malaysia-636495383789543440.jpg">
	                                <div class="tourbox-price">
	                                    <span class="ng-binding">13.500.000</span>đ
	                                </div>
	                            </div>

	                            <div class="tourbox-info">
	                                <h3 class="tourbox-name m-b-0 ng-binding">Tour HCM - SINGAPORE - MALAYSIA 5N4Đ</h3>

	                                <div class="tourbox-direction m-b-5">
	                                    <span class="ng-binding">Hà Nội</span>
	                                    <span class="arrow"> →</span>
	                                    <span class="ng-binding">Tokyo</span>
	                                </div>

	                                <a class="tourbox-author ng-binding" href="/nha-cung-cap/golden-saigon-travel-14">Triều Hảo Travel</a>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		          </div>
		          <div class="item">
		            <div class="col-xs-4">
		            	<div class="swiper-slide" style="width: 280px; margin-right: 20px;">
	                        <div class="tourbox">
	                            <a class="link-absolute" href="/tour-du-lich/tour-phuong-hoang-co-tran-6n5d-180"></a>

	                            <div class="tourbox-img">
	                                <img class=" lazyloaded" src="images/tour/foody-tour tet nb-636499833308901698.jpg">
	                                <div class="tourbox-price">
	                                    <span class="ng-binding">13.500.000</span>đ
	                                </div>
	                            </div>

	                            <div class="tourbox-info">
	                                <h3 class="tourbox-name m-b-0 ng-binding">Tour Tết Nguyên Đán 2018: NHẬT BẢN - OSAKA-KYOTO- FUJI-TOKYO (7N6Đ) MÙNG 3 TẾT</h3>

	                                <div class="tourbox-direction m-b-5">
	                                    <span class="ng-binding">Hà Nội</span>
	                                    <span class="arrow"> →</span>
	                                    <span class="ng-binding">Tokyo</span>
	                                </div>

	                                <a class="tourbox-author ng-binding" href="/nha-cung-cap/golden-saigon-travel-14">Triều Hảo Travel</a>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		          </div>
		        </div>
		        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
		        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
	<section class="topmember-container">
		<div class="container">
			<div class="row">
				<h3 class="topmember-title">Top Thành viên</h3>
				<div class="topmenber">
					<div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" alt="Nguyễn Thị Thanh Trúc" src="icon/cotruc.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Cô Trúc</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/hieu.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Phan Lê Trung Hiếu</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/hoa.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Trần Thiện Hòa</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/kimhieu.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Nguyễn Kim Hiếu</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/hao.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Nguyễn Xuân Hảo</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/dung.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Đặng Việt Dũng</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/anle.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Ấn Lê</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/chau.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Đoàn Văn Châu</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/rin.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">NIR Rin</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/vy.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Lê Hoàng Vỹ Vỹ</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/khoa.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Huỳnh Văn Khoa</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/duyen.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Nguyễn Tú Duyên</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/khai.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Lê Tuấn Khải</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/cntt.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Trường ĐH CNTT</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/cntt.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Trường ĐH CNTT</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/cntt.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Trường ĐH CNTT</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/cntt.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Trường ĐH CNTT</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/cntt.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Trường ĐH CNTT</div>
                    </div>
                    <div class="topmember-item ng-scope" ng-repeat="item in Items">
                        <a class="link-absolute"></a>
                        <div class="topmember-img">
			                <i class="fa fa-check icon"></i>
                            <div class="topmember-img-place">
                                <img class=" lazyloaded" src="icon/cntt.jpg">
                            </div>
                        </div>
                        <div ng-bind="item.CustomerFullName" class="ng-binding">Trường ĐH CNTT</div>
                    </div>
				</div>
			</div>
		</div>
	</section>
	<section class="road-container">
		<div class="road">
		    <div class="road-bg">
		    </div>
		    <div class="road-vehicle">
		        <img src="images/bus.png" alt="">
		        <div class="road-vehicle-wheel">
		            <img src="images/wheel.png" alt="">
		        </div>
		        <div class="road-vehicle-wheel right">
		            <img src="images/wheel.png" alt="">
		        </div>
		    </div>
		</div>
	</section>
	<footer>
	    <div class="grid-container">
	        <div class="text-center">
	            <ul class="list-inline footer-menu">
	                <li class="list-inline-item">
	                    <a href="/lien-he" rel="nofollow">Liên hệ</a>
	                </li>

	                <li class="list-inline-item">
	                    <a href="/gioi-thieu" rel="nofollow">GIỚI THIỆU</a>
	                </li>

	                <li class="list-inline-item">
	                    <a href="/quy-trinh-dat-tour-khach-san" rel="nofollow">Hướng dẫn</a>
	                </li>

	                <li class="list-inline-item">
	                    <a href="/dieu-khoan-su-dung" rel="nofollow">Quy chế</a>
	                </li>

	                <li class="list-inline-item">
	                    <a href="/chinh-sach-bao-mat-thong-tin" rel="nofollow">Bảo mật</a>
	                </li>

	                <li class="list-inline-item">
	                    <a href="/giai-quyet-khieu-nai" rel="nofollow">Khiếu nại</a>
	                </li>
	            </ul>
	        </div>


	        <div class="text-center m-t-20 m-b-20 p-b-10">
	            <ul class="list-inline footer-social logo">
	                <li class="list-inline-item">
	                    <a href="https://www.facebook.com/thienhoa.pro.3" target="_blank" rel="nofollow">
	                        <img data-original="icon/facebook.png" class=" lazyloaded" width="32" alt="facebook" src="icon/facebook.png">
	                    </a>
	                </li>
	                <li class="list-inline-item">
	                    <a href="https://www.youtube.com" target="_blank" rel="nofollow">
	                        <img data-original="icon/youtube.png" width="32" alt="yputube" class="lazyloaded " src="icon/youtube.png">
	                    </a>
	                </li>
	                <li class="list-inline-item">
	                    <a href="" target="_blank">
	                        <img data-original="icon/twitter.png" class=" lazyloaded" width="32" alt="twitter" src="icon/twitter.png">
	                    </a>
	                </li>

	                <li class="list-inline-item">
	                    <a href="" target="_blank">
	                        <img data-original="icon/instagram.png" width="32" alt="instagram" class=" lazyloaded" src="icon/instagram.png">
	                    </a>
	                </li>

	                <li class="list-inline-item">
	                    <a href="" target="_blank">
	                        <img data-original="icon/google-plus.png" width="32" alt="google" class=" lazyloaded" src="icon/google-plus.png">
	                    </a>
	                </li>
	            </ul>
	        </div>

	        <div class="text-center m-b-10 footer-logo">
	            <a href="/">
	                <img src="images/logo-tripnow.png" width="160" alt="">
	            </a>
	        </div>






	        <div class="text-center">
	            <div class="footer-address">©2018 GoNow.vn - A Foody Corporation. C112, Tòa nhà C, Trường Đại Học Công Nghệ Thông Tin, ĐHQG.TpHCM</div>
	            <div class="footer-address">
	                Số giấy phép ĐKKD: 0311828036 do Giáo viên hướng dẫn Nguyễn Thị Thanh Trúc cấp
	            </div>
	        </div>
	    </div>
	</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    	$(document).ready(function() {
		  	$(".feature-item").hover(function(){
		    	$(".feature-info",this).toggleClass('addclassbackground');
		  	});

		  	$(".item .col-xs-4").hover(function(){
		    	$(".tourbox-price",this).toggleClass('addclassprice');
		    	$(".tourbox-info h3",this).toggleClass('addclassname');
		  	});

			$('.multi-item-carousel').carousel({
			  interval: false
			});
			$('.multi-item-carousel .item').each(function(){
			  var next = $(this).next();
			  if (!next.length) {
			    next = $(this).siblings(':first');
			  }
			  next.children(':first-child').clone().appendTo($(this));
			  
			  if (next.next().length>0) {
			    next.next().children(':first-child').clone().appendTo($(this));
			  } else {
			  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
			  }
			});
		});
    </script>
  </body>
</html>