/*------------ Common */
li{
    list-style: none;
}
a:hover, a:active, a:visited{
    text-decoration: none;
}
.clearfix{
    clear: both;
}
*{
	box-sizing: border-box;
}
/* End Common------------  */
.fbox-icon{
	float: left;
	margin-right: 4px;
}
.feature-box p{
	font-size: 12px;
}
.feature-box{
	margin-top: 30px;
	margin-bottom: 20px;
}
.policies{
	border-bottom: solid 1px #dddddd;
}
.block_title{
	text-align: center;
	border-bottom: solid 1px #dddddd;
}
.product-title {
	text-align: center;
}
.product-title h3 p{
	font-size: 15px;
	color: black;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product-title h3 p:hover{	
	color: #df682e;
}
.colection ul{
	margin-top: 5px;
	text-align: center;
}
.colection ul li{
	display: inline;
	margin-right: 25px;
	font-size: 15px;
}
.colection ul li a{
	color: black;
}
.colection{
	margin-top: 50px;
}
.colection  ul{
	margin-bottom: 20px;
}
.product-price ins a {
	color: red;
}
.product-price ins {
	text-decoration: none;
	color: red;
	font-weight: 700;
}
.product-price {
	text-align: center;
} 
.product-image img { 
	max-width: 100%;
	height: auto;
	position: relative;
}

.product-image img:hover{
	cursor: pointer;
}
.quick_action {
	display: none;
    background: #fff;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.09);
    height: 40px;
    padding: 8px 0;
    position: absolute;
    right: 50px;
    left: 28px;
    bottom: 75px;
}
.btn-shopping-cart i{
	float: left;
    width: 50%;
    font-size: 22px;
    text-align: center;
    display: block;
    color: #373737;
}
.btn-quicklook i {
	float: right;
    width: 50%;
    text-align: center;
    display: block;
    color: #373737;
}
.row i {
	font-size: 18px !important;
    padding-top: 3px;
}
.row i:hover{
    color: #00beb4;
}
.sale-flash {
	position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px 10px;
    background-color: #00c5bb;
    color: #FFF;
    z-index: 5;
    font-size: 15px;
    left: 15px;
    top: 1px;
}
.interactive_img{
	z-index: 0;
}
.interactive_overlay {
    padding: 50px;
    padding-top: 250px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
.btn_see_all{
	margin-top: 40px;
	border: solid 1px grey;
	padding: 5px;
	text-align: center;
}
.btn_see_all a{
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.interactive_overlay3 {
    padding: 50px;
    padding-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
.brand_title{
	text-align: center;
	margin: 20px;
}
.brand_content img{
	padding-left: 13px;
}