.body
{
  background-color:#EEEEEE;

}
.list-inline-item
{
display: inline-block
}

.list-inline
{
padding-left: 0;
list-style: none;
margin-left: 0;
margin-bottom: 0
}
.reviewbox
{
  border-color: black;
}
.hero-content
{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 1180px;
  height: 500px;
  color: #fff;
}
.block-title
{
  font-size: 1.42857rem;
  font-weight: 700;
  color: #424242;
  margin-bottom: 15px
}
.hero
{
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#616161;
}
.hero-heading
{
  font-size: 50px;
  font-style: normal;
  font-family: Times New Roman,sans-serif;
  color:white;
}
.hero-subheading
{
  font-size: 40px;
  font-style: normal;
  font-family: Times New Roman,sans-serif;
  color: white;
  text-align: center;
}
